.sprite-contact {
    display: inline-block;
    overflow: hidden;
    background: url(contact.png) no-repeat;
}

.boy {
    width: 35px;
    height: 40px;
    background-position: -113px -2px
}

.central {
    width: 100px;
    height: 102px;
    background-position: -637px -2px
}

.contact-logo {
    width: 123px;
    height: 115px;
    background-position: -739px -2px
}

.contact-title {
    width: 477px;
    height: 76px;
    background-position: -864px -2px
}

.email {
    width: 35px;
    height: 40px;
    background-position: -39px -2px
}

.facebook {
    width: 65px;
    height: 65px;
    background-position: -284px -2px
}

.girl {
    width: 35px;
    height: 40px;
    background-position: -76px -2px
}

.gplus {
    width: 65px;
    height: 65px;
    background-position: -217px -2px
}

.mail {
    width: 80px;
    height: 80px;
    background-position: -351px -2px
}

.region {
    width: 100px;
    height: 102px;
    background-position: -433px -2px
}

.phone {
    width: 35px;
    height: 40px;
    background-position: -2px -2px
}

.plane {
    width: 100px;
    height: 102px;
    background-position: -535px -2px
}

.tumblr {
    width: 65px;
    height: 65px;
    background-position: -150px -2px
}

@media (max-width: 800px) and (min-width: 600px) {
    .contact-title {
        zoom: .7;
    }

    .contact-logo {
        zoom: .7;
    }
}

@media (max-width: 600px) and (min-width: 380px) {
    .contact-title {
        zoom: .5;
    }

    .contact-logo {
        zoom: .5;
    }
}

@media (max-width: 380px) and (min-width: 100px) {
    .contact-title {
        zoom: .4;
    }

    .contact-logo {
        zoom: .4;
    }
}